.sidebar {
  width: 260px;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  padding: 20px 12px;
  height: 100vh;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
   text-decoration: none;
}

.sidebar-item:hover {
  background: #f3f4f6;
}

.sidebar-item.active {
  background: #e0e7ff;
  text-decoration: none;
}

.sidebar-icon {
  font-size: 20px;
  color: #374151;
  margin-top: 2px;
}

.sidebar-item.active .sidebar-icon {
  color: #2563eb;
}

.sidebar-text h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #111827;
}

.sidebar-text p {
  margin: 2px 0 0;
  font-size: 12px;
  color: #6b7280;
}
